.product__header {
    margin-bottom: 20px;
}
.product-card {
    margin-top: 60px;
}
.product-card h1,
.product-card h2,
.product-card p,
.product-card a,
.product-card img,
.product-card button {
    margin-top: 20px;
}
.product-card button{
    margin-right: 20px;
}