@use '../../scss/base/vars' as *;

.product-section {
  margin-top: 60px;
}

.store__controls {
  display: flex;
  justify-content: end;
  gap: 30px;
}

.price-sort,
.list-tile-toggler {
  cursor: pointer;
}

.filter-and-products {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

// .filter {}
// .filter__title {}
// .filter__form {}
.filter__select {
  margin-top: 5px;
  display: flex;
  gap: 10px;

  a {
    display: block;
  }
}

.products {
  width: 81%;
  max-width: 1500px;
}

.products-tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  .card {
    width: 100%;
    height: 320px;
    background-color: #808080;
    padding: 10px;
  }

}

.products-lines {
  .card {
    width: 100%;
    height: 150px;
    background-color: #808080;
    padding: 10px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.products-tiles, .products-lines {
  .card {
    color: $text;
  }
  .card:hover {
    color: $text_hover;
  }
}