.app-header {
  margin-top: 20px;
  position: relative;
}
.app-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .app-header__logo {} // Left for further design layouts
.app-header__search {
  max-width: 500px;
  position: relative;
}
.app-header__search-input {
  height: 40px;
  width: 500px;
  border: 1px solid;
  border-radius: 5px;
  padding: 0 10px;
}
.app-header__search-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  padding-top: 4px;
}
.search__suggestions-list {
  position: absolute;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-color: rgb(75, 75, 75);
  padding: 10px 10px;
}
.search__suggestions-list li {
  line-height: 2em;
  cursor: pointer;
}
.suggestions-li__link {
  width: 100%;
}
// .app-nav {}

.app-menu {
  display: flex;
  align-items: center;
  gap: 30px;

  :nth-child(2) {
    font-weight: 500;
    color: #757cff;
    cursor: pointer;

    &:hover {
      color: #535bf2;
    }
  }

  button {
    position: relative;
    border: none;

    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border-radius: 10px;
      background: repeating-linear-gradient(45deg, rgb(187, 168, 0), rgb(187, 168, 0) 10px, transparent 10px, transparent 20px);
      z-index: -1;
    }
  }
}

// .app-menu__login {}
// .app-menu__favourites {}
// .app-menu__cart {}
