@use '../../assets/scss/vars.scss' as vars;
@use '../../assets/scss/mixins' as mixins;

.ProductPageTitle {
  @include mixins.tablet {
    max-width: 500px;
    margin: 0 auto;
  }
}

.Title {
  margin-bottom: 20px;
}

.Card {
  margin-top: 60px;

  h1,
  h2,
  p,
  a,
  img,
  button {
    margin-top: 20px;
  }

  button {
    margin-right: 20px;
  }
}
.ProductInfo {
  display: grid;
  grid-template-columns: 70px 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "nav main info";
  gap: 20px;

  @include mixins.tablet {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "nav"
      "main"
      "info";
    justify-items: center;
    max-width: 500px;
    margin: 0 auto;
  }
}

.GalleryNav {
  grid-area: nav;
  display: flex;
  flex-direction: column;

  @include mixins.tablet {
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }
}

.GalleryNavImg {
  width: 70px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.2s ease;
}

.SelectedImage {
  border-color: vars.$accent;
  border-radius: 5px;
}

.GalleryMainImg {
  grid-area: main;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include mixins.tablet {
    max-width: 500px;
  }
}

.ProductDetails {
  padding-left: 30px;

  @include mixins.tablet {
    padding: 20px 0;
    width: 100%;
  }
}

.Description {
  font-size: 16px;
  font-weight: 500;
}

.Title {
  font-size: 20px;
  font-weight: 700;
}

.Price {
  font-size: 16px;
  font-weight: 700;
  color: vars.$accent;
}

.AddToCartBtn {
  border: 1px solid vars.$accent;
  border-radius: 5px;
  padding: 5px 0;
  width: 60px;
  background-color: vars.$accent;
  fill: #fff;
  fill-opacity: 1;
  fill-rule: nonzero;

  &:hover {
    background-color: vars.$accent_hover;
  }
}

.AddToCartBtnIcon {
  max-width: 20px;
  width: 20px;
  height: auto;
  transform: translateY(2px);
}

.removeItemFromCartBtn {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  transform: translateY(2px);
}