@use '../../../../assets/scss/vars' as *;

.ProductsSection {
  margin-top: 60px;
}

.StoreControls {
  display: flex;
  justify-content: end;
  gap: 30px;
}

.PriceSort,
.ListTileToggler {
  cursor: pointer;
}

.FilterAndProducts {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

// .Filter {}
// .FilterTitle {}
// .FilterForm {}
.FilterSelect {
  margin-top: 5px;
  display: flex;
  gap: 10px;

  a {
    display: block;
  }
}

.Products {
  width: 81%;
  max-width: 1500px;
}

.Tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  .Card {
    width: 100%;
    height: 320px;
    background-color: #808080;
    padding: 10px;
  }
}

.Lines {
  .Card {
    width: 100%;
    height: 150px;
    background-color: #808080;
    padding: 10px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.Tiles,
.Lines {
  .Card {
    color: $text;
  }

  .Card:hover {
    color: $text_hover;
  }
}
