@use '../../assets/scss/vars.scss' as vars;

/* Regular */
@font-face {
  font-family: 'Cera Pro';
  src:
    url('../fonts/CeraPro-Regular.woff2') format('woff2'),
    url('../fonts/CeraPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Cera Pro';
  src:
    url('../fonts/CeraPro-Medium.woff2') format('woff2'),
    url('../fonts/CeraPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Cera Pro';
  src:
    url('../fonts/CeraPro-Bold.woff2') format('woff2'),
    url('../fonts/CeraPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: 'Cera Pro';
  src:
    url('../fonts/CeraPro-Black.woff2') format('woff2'),
    url('../fonts/CeraPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* Base styles  */

:root {
  font-family:
    Cera Pro,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 26px 25px 1000px;
  color: vars.$text;
  background-color: #f8f8f8;
}

a {
  text-decoration: inherit;
  display: inline-block;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  color: vars.$accent;
}

input {
  border: 2px solid #303030;
  border-radius: 8px;
  padding: 10px;
}

button {
  border: none;
}
button:focus,
button:focus-visible {
  outline: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  margin-top: 50px;
}
