$accent: #f36527;
$accent_hover: #d65822;
$text: #616161;
$text_hover: #9b9b9b;

// breakpoints
$desktop: 1440px; // десктопы
$laptop: 1024px; // ноутбуки/планшеты
$tablet: 768px; // планшеты/смартфоны
$mobile: 360px; // маленькие смартфоны от 320px