@use '../../assets/scss/vars' as vars;
@use '../../assets/scss/mixins' as mixins;

.CategoryItem {
  box-shadow: 0 0 3px 1px #42424214;
  padding: 25px;
  background-color: #fff;
  width: 244px;
  height: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;  
  transition: all 0.3s ease;
  color: vars.$text;

  &:hover {
    transform: scale(1.05);
  }

  @include mixins.category-card-breakpoint {
    width: 100%;
    height: 50px;
    padding: 20px;
    justify-content: flex-start;

    &:hover {
      transform: none;
    }
  }
}

.CategoryIcon {
  width: 25px;
  height: auto;
  margin-right: 15px;
  stroke: vars.$accent;
}