.Cart {
  max-width: 600px;
}
.CartTop {
  display: flex;
  justify-content: space-between;
}
.CartItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
// .ItemName{}
// .ItemPrice{}
.ItemQuantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
// .CartSum{}

.TotalPrice {
  margin-top: 30px;
  display: flex;
  justify-content: end;

  p:nth-child(2) {
    margin-left: 50px;
  }
}

.CartEmptyMsg {
  margin-top: 30px;
}
