.Cart {
  margin-top: 40px;
}
.CartTop {
  display: flex;
  justify-content: space-between;
}

.CartItem {
  margin-top: 10px;
}
// .ItemName{}
// .ItemPrice{}
.ItemQuantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
// .CartSum{}

.TotalPrice {
  margin-top: 30px;
  display: flex;
  justify-content: end;

  p:nth-child(2) {
    margin-left: 50px;
  }
}

.BuyBtn {
  float: right;
  margin-top: 50px;
}

.CartEmptyMsg {
  margin-top: 30px;
}
