@use '../../assets/scss/vars';

.Cart {
  margin-top: 40px;
}
.CartTop {
  display: flex;
  justify-content: space-between;
}

.CartItem {
  margin-top: 10px;
}
// .ItemName{}
// .ItemPrice{}
.ItemQuantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
// .CartSum{}

.TotalPrice {
  margin-top: 30px;
  display: flex;
  justify-content: end;

  p:nth-child(2) {
    margin-left: 50px;
  }
}

.TotalCartQuantity,
.TotalCartPrice {
  & span {
    color: vars.$accent;
    font-weight: 700;
  }
}

.BuyBtn {
  float: right;
  margin-top: 50px;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: vars.$accent;
  color: #fff;
}

.CartEmptyMsg {
  margin-top: 30px;
}
