// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@100..900&family=Roboto:wght@300&display=swap');

/* Base styles  */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #757cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
  padding: 0 25px;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  color: $accent;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

// Homepage styles (public)

.header-menu {
  margin-top: 10px;
}

.header-menu__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// App styles

// .categories {}
// .categories__title {}
.categories__items {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.store {
  margin-top: 60px;
}
.store__controls {
  display: flex;
  justify-content: end;
  gap: 30px;
}

.price-sort, .list-tile-toggler {
  cursor: pointer;
}
.filter-and-products {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

// .filter {}
// .filter__title {}
// .filter__form {}
.filter__select {
  margin-top: 5px;
  display: flex;
  gap: 10px ;

  a {
    display: block;
  }
}

.products-tiles {
  display: grid;
  grid-template-columns: 249px  249px 249px 249px;
  justify-content: end;
  gap: 15px;

  .card {
    width: 249px;
    height: 320px;
    background-color: #808080;
  }
}

.products-lines {
  width: 81%;

  .card {
    width: 100%;
    height: 150px;
    background-color: #808080;
    margin-top: 10px;
  }
}
