// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@100..900&family=Roboto:wght@300&display=swap');

/* Base styles  */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #757cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  color: $accent;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

// Homepage styles

.header-menu {
  margin-top: 10px;
}

.header-menu__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// App styles

.app-header {
  margin-top: 20px;
}

.app-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .app-header__logo {
// }
.app-header__search {
  max-width: 500px;
  position: relative;
}
.app-header__search-input {
  height: 40px;
  width: 500px;
  border: 1px solid;
  border-radius: 5px;
}
.app-header__search-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  padding-top: 1px;
}

.app-main {
  margin-top: 50px;
}

// .categories {}
// .categories__title {}
.categories__items {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.store {
  margin-top: 60px;
}
.store__controls {
  display: flex;
  justify-content: end;
  gap: 30px;
}
// .price-sort {}
// .list-tile-toggler {}
.filter-and-products {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

// .filter {}
// .filter__title {}
// .filter__form {}
.filter__select {
  margin-top: 5px;
  display: flex;
  gap: 10px ;
}
.filter__select a {
  display: block;
}

.products {
  display: grid;
  grid-template-columns: 249px  249px 249px 249px;
  justify-content: end;
  gap: 15px;
}