@use '../../assets/scss/vars' as vars;

.ProductCard {
  width: 100%;
  box-shadow: 0 0 3px 1px #42424214;
  padding: 25px;
  background-color: #fff;
}

.ProductCard {
  a {
    color: vars.$text;

    &:hover {
      color: vars.$text_hover;
    }
  }
}

.CardInfo {
  display: flex;
  flex-direction: column;
  height: 97px;
  justify-content: space-between;
}

.tiles {
  width: 250px;

  img {
    margin-bottom: 15px;
  }
}

.lines {
  height: 210px;
  display: grid;
  grid-template-columns: 1fr 2fr;

  &:not(:first-child) {
    margin-top: 10px;
  }

  img {
    margin-bottom: 0;
    width: 160px;
  }

  .CardInfo {
    display: flex;
    flex-direction: row;
    height: 97px;
    justify-content: space-between;
  }

  .ProductcardBtns {
    justify-content: end;
  }
}

.PriceFavourites {
  display: flex;
  flex-direction: column;
}

.Price {
  color: vars.$accent;
  font-weight: 700;
}

.ProductcardBtns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.FavouriteBtn {
  font-size: 20px;
}

.AddtoCartBtn {
  font-size: 15px;
}
