@use '../../assets/scss/vars' as vars;

.ProductCard {
  width: 100%;
  color: vars.$text;
}

.ProductCard {
  a {
    color: vars.$text;

    &:hover {
      color: vars.$text_hover;
    }
  }

  img {
    margin-bottom: 15px;
  }
}

.tiles {
  width: 250px;
  height: 420px;
}

.lines {
  height: 210px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.PriceFavourite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FavouriteBtn {
  width: 20px;
  height: auto;
  font-size: 20px;
}
