@use '../../assets/scss/vars' as vars;

.ProductCard {
  width: 100%;
  box-shadow: 0 0 3px 1px #42424214;
  padding: 25px;
  background-color: #fff;

  a {
    color: vars.$text;

    &:hover {
      color: vars.$text_hover;
    }
  }

  @media (max-width: vars.$mobile) {
    padding: 20px;
  }
}

.CardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: vars.$mobile) {
    flex-direction: row;
  }
}

.CartControls {
  margin-top: 10px;
  text-align: right;
}

.ItemQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ItemQuantityBtn {
  height: 30px;
  width: 30px;
  background: rgb(236, 236, 236);
  border-radius: 35px;
}

.DisabledBtn {
  opacity: 0.5;
  cursor: default;
}

.removeItemFromCartBtn {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  transform: translateY(-1px);
}

.ItemQuantityValue {
  margin: 0 5px;
  min-width: 20px;
  text-align: center;
}

.tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding-bottom: 40px;

  @media (max-width: 576px) {
    width: 100%;
  }

  a {
    margin-top: 15px;
    width: 200px;
  }

  .Price {
    margin-top: 15px;
  }
}

.lines {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 15px;

  &:not(:first-child) {
    margin-top: 10px;
  }

  img {
    width: 160px;
  }

  .CardInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: vars.$mobile) {
    gap: 0 15px;
  }
}

.PriceFavorites {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Price {
  color: vars.$accent;
  font-size: 22px;
  font-weight: 700;
}

.CardSum {
  margin-top: 20px;
}

.Price,
.CardSum {
  text-align: right;

  @media (max-width: vars.$mobile) {
    font-size: 18px;
  }
}

.ProductcardBtns {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-top: 10px;
}

.FavoriteBtn {
  font-size: 20px;
}

.AddToCartBtn {
  border: 1px solid vars.$accent;
  border-radius: 5px;
  padding: 5px 0;
  width: 60px;
  background-color: vars.$accent;
  fill: #fff;
  fill-opacity: 1;
  fill-rule: nonzero;

  &:hover {
    background-color: vars.$accent_hover;
  }
}

.AddToCartBtnIcon {
  max-width: 20px;
  width: 20px;
  height: auto;
  transform: translateY(2px);
}

.AddedButton {
  background-color: #fff;
  border: 1px solid vars.$accent;

  &:hover {
    background-color: #fff;
  }
}

.AddedIcon {
  fill: vars.$accent;
  fill-opacity: 1;
  fill-rule: nonzero;
}