@use '../../../../src/assets/scss/vars.scss' as vars;

.ShopHeader {
  margin-bottom: 1px;

  a {
    color: rgb(61, 61, 61);
    font-family: Cera Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }
}
.ShopHeaderInner {
  display: flex;
  justify-content: space-between;
}

.HeaderLogo {
  width: 70px;
  height: auto;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavList {
  display: flex;
  align-items: center;
  gap: 50px;

  li a {
    position: relative;
  }

  li a::after {
    content: '';
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: vars.$accent;
    opacity: 0;
    transition: opacity 0.3s;
  }

  li a.ActiveLink::after {
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.HeaderFunctional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.Search {
  max-width: 500px;
  position: relative;
}
.SearchInput {
  height: 40px;
  width: 100px;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgba($color: (vars.$accent), $alpha: 0.5);
  padding: 0 10px;
  width: 500px;
}
.SearchBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  background-color: vars.$accent;
  border-radius: 3px;
}

.Cart {
  position: relative;

  img {
    width: 28px;
    height: 28px;
  }
}
.CartCount {
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  left: 15px;
  color: #fff;
  background-color: vars.$accent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  font-family: Cera Pro;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
}

.HeaderHr {
  width: 100%;
  height: 1px;
  background-color: rgba($color: (vars.$accent), $alpha: 0.2);
  margin-top: 5px;
}
