.SearchSuggestionsList {
  position: absolute;
  top: 40px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 0 0 5px 1px #00000013;
  z-index: 40;
}
.SearchSuggestionsList li {
  line-height: 2em;
  cursor: pointer;
  
  &:hover {
    background-color: #f0f0f0;
  }
}
.SearchSuggestionsLink {
  width: 100%;
}
