@use '../../../assets/scss/vars' as *;

.container {
  display: flex;
}

.ProductsSection {
  margin-top: 60px;
}

.StoreControls {
  display: flex;
  justify-content: end;
  gap: 30px;
  margin-bottom: 20px;
}

.PriceSort,
.ListTileToggler {
  cursor: pointer;
}

.FilterAndProducts {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.FilterSelect {
  margin-top: 5px;
  display: flex;
  gap: 10px;

  a {
    display: block;
  }
}

.Products {
  max-width: 1500px;
}

.Tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.Lines {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.MainContent {
  display: flex;
}

.Filter {
  width: 250px; // Фиксированная ширина для фильтров
  flex-shrink: 0;
}

.ProductsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

// Остальные ваши стили...

.Pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;

  button {
    padding: 5px 10px;
    background: #363636;
    cursor: pointer;
    border: none;

    &:disabled {
      opacity: 0.5;
      // cursor: not-allowed;
    }

    &.Active {
      background: #004997;
      color: white;
    }

    &:hover:not(:disabled, .Active) {
      background: #808080;
    }
  }
}
