@use '../../../assets/scss/vars' as *;

.ProductsSection {
  margin-top: 60px;
}

.StoreControls {
  display: flex;
  justify-content: end;
  gap: 30px;
}

.PriceSort,
.ListTileToggler {
  cursor: pointer;
}

.FilterAndProducts {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.FilterSelect {
  margin-top: 5px;
  display: flex;
  gap: 10px;

  a {
    display: block;
  }
}

.Products {
  width: 81%;
  max-width: 1500px;
}

.Tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.Lines {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
