@use '../../../assets/scss/vars' as vars;

.container {
  display: flex;
}

.ProductsSection {
  margin-top: 60px;
}

.ProductsCount {
  font-size: 0.9rem;
}

.StoreControls {
  display: flex;
  justify-content: end;
  gap: 30px;
  margin-bottom: 30px;
}

.FilterToggler {
  display: none;
  margin-right: auto;

  @media (max-width: vars.$tablet) {
    display: block;
  }
}

.PriceSort,
.ListTileToggler {
  cursor: pointer;
}

.FilterAndProducts {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.Tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  justify-content: flex-start;
}

.Lines {
  display: flex;
  flex-direction: column;
}

.NoProducts {
  // padding: 2rem;
  
  p {
    margin: 0.5rem 0;
    // font-size: 1.1rem;
  }
}

.MainContent {
  display: flex;

  @media (max-width: vars.$tablet) {
    position: relative;
  }
}

.ProductsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.Pagination {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  gap: 5px;

  button {
    cursor: pointer;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 4px;
    width: 35px;
    height: 35px;

    &:disabled {
      color: rgb(229, 229, 229);
      cursor: default;
    }

    &.Active {
      background: vars.$accent;
      color: white;
    }

    &:hover:not(:disabled, .Active) {
      background: #cccccc;
    }
  }

  @media (max-width: vars.$tablet) {
    margin-top: 25px;
  }
}