@use '../../../assets/scss/vars.scss' as vars;
@use '../../../assets/scss/mixins.scss' as mixins;

.Overlay {
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(10px);
}

.Content {
  color: rgb(61, 61, 61);
  font-size: 20px;
  font-weight: 500;
  width: 500px;
  border-radius: 8px;
  background-color: #fff;
  padding: 60px 0;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;

  @include mixins.tablet {
    width: 98%;
    max-width: 400px;
  }
}

.Show {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.Content h3 {
  margin-bottom: 20px;
  font-size: 22px;
}

.EnterBtn {
  width: 300px;
  height: 45px;
  border-radius: 5px;
  background: vars.$accent;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;

  &:hover {
    background-color: vars.$accent_hover;
  }
}

.CloseBtn {
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 30px;
  padding: 30px;

  svg {
    fill: white;
  }

  @include mixins.tablet {
    right: 0;
  }
}

.CloseBtn:hover {
  svg {
    fill: vars.$accent;
  }
}

.LoginForm {
  margin-top: 10px;
  align-items: center;

  input {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    border: 1px solid rgb(234, 234, 234);
  }

  input::placeholder {
    color: rgb(165, 165, 165);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    transform: translateY(-3px);
  }

  input,
  button {
    @include mixins.tablet {
      width: 250px;
    }
  }
}

.PasswordInput {
  letter-spacing: 0.2em;
}

.IfRegistered {
  margin-top: 30px;
}

.RegisterBtn,
.FillBtn {
  margin-top: 25px;
  width: 300px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid rgb(151, 151, 151);
  font-size: 16px;
  font-weight: 700;

  &:hover {
    background-color: rgb(151, 151, 151);
  }

  @include mixins.tablet {
    width: 250px;
  }
}

.Disclaimer,
.Hint {
  font-size: 14px;
  color: rgb(100, 100, 100);
  max-width: 300px;
  margin: 30px auto 0;
}

.Error {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.Disclaimer {
  text-align: justify;
  font-size: 12px;
}

.DisclaimerBlock p + p {
  margin-top: 18px;
}